@media screen and (max-width:768px){
    .all {
        background-color: white;
        border-radius: 20px;
        width: 90%;
        height: 400px;
        margin: 150px auto 10px auto ;
    }
    .autor {
        position: none;
       display: block;
    }
    .botao {
        left: 0;
        top: 30%;
    }

}